h1 {
    color: brown;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
 
.custom {
    padding: 10px;
    width: 300px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}
.input {
    display: block;
    color: black;
    padding: 2px 4px;
}
.button {
    color: black;
    background-color: wheat;
    border: 2px solid wheat;
    padding: 2px 4px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}
.ulist{
    list-style: none;
}

li {
    padding: 5px 10px;
    border: 2px solid antiquewhite;
    background-color: antiquewhite;
    border-radius: 8px;
    margin: 10px 0;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn {
    color: black;
    background-color: red;
    border: 2px solid red;
    padding: 4px 8px;
    border-radius: 2px;
    cursor: pointer;
}